/*GENERAL FLEX*/

.button{
	align-items: center;
}

.basicFlex{
	display: flex;
}

/*NAVIGATION BAR*/

nav{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.title{
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}

.searchElement{
	display: flex;
	align-items: stretch;
}


/*PRODUCT LISTINGS*/

.productListings{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 400px)); 	/*300px, 400px*/
	justify-content: center;
}

.productTemplate{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-right:1em;
	margin-bottom: 2em;
	padding-right:1rem;
	padding-left:1rem;
}

.stars{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

/*PAYMENT FORM*/

.formSection{
  display:grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  
}

/*CART LAYOUT*/
#checkoutPage{
	display: grid;
	grid-template-columns: 3fr 1fr;
	}



.cartItem{
	display:grid;
	grid-template-columns: 5fr 4fr 3fr 3fr;
	align-items: center;
	justify-content: center;
}