/*GENERAL FLEX*/

.button{
	align-items: center;
}

/*NAVIGATION BAR*/

nav{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.title{
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}

.searchElement{
	display: flex;
	align-items: stretch;
}

/*PRODUCT LISTING*/

/*PRODUCT LISTINGS*/

.productListings{
	display: grid;
	grid-template-rows: 1fr, 1fr, 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.productTemplate{
	display:flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid black;
	border-radius: 10px;
	margin-right:1em;
}

.stars{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}